<section id="breakingbad" class="padded">
    <div class="container">
        <h2>Breaking Bad</h2>
        <div id="main-container">
        <table class="table table-striped table-hover table-dark table-hover">
            <thead>
                <tr>
                    <th class="text end">id</th>
                    <th class="text end">Nombre</th>
                    <th class="text end">Cumpleaños</th>
                    <th class="text end">Estado</th>
                    <th class="text end"> Apodo</th>
                    <th class="text end">Nombre del Actor</th>
                    <th class="text end">Foto</th>

                </tr>
            </thead>
            <tbody>
                <!-- Jala datos de breakingbad.components.ts -->
                <tr *ngFor="let filapersonaje of listaPersonajes">
                    <td class="owo">{{filapersonaje.char_id}}</td>
                    <td class="owo">{{filapersonaje.name}}</td>
                    <td class="owo">{{filapersonaje.birthday}}</td>
                    <td class="owo">{{filapersonaje.status}}</td>
                    <td class="owo">{{filapersonaje.nickname}}</td>
                    <td class="owo">{{filapersonaje.portrayed}}</td>
                    <td><img src="{{filapersonaje.img}}" class="img-fluid EditIMG" alt=""></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</section>
