<div id="stuck_container">
  <div class="container">
      <div class="row">
          <div class="grid_12">
              <nav>
                  <ul class="sf-menu sf-js-enabled sf-arrows">
                      <li class="current"><a class="fa-home" href="./"></a></li>
                      <li><a [routerLink]="['/fifa']">Rick y Morty</a></li>
                      <li><a [routerLink]="['/breakingbad']">Breaking Bad</a></li>
                      <li>
                          <a [routerLink]="['/futbolistas']" class="sf-with-ul">futbolistas(Local)</a>
                          <ul class="sub-menu" style="display: none;">
                              <li><a href="#">Dolore ipsu</a></li>
                              <li><a href="#" class="sf-with-ul">Consecte</a>
                                  <ul class="sub-menu" style="display: none;">
                                      <li><a href="#">Dolore ipsu</a></li>
                                      <li><a href="#">Consecte</a></li>
                                      <li><a href="#">Elit Conseq</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Elit Conseq</a></li>
                          </ul>
                      </li>
                      <li><a  [routerLink]="['/juegos']">Mejores Juegos</a></li>

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"  [routerLink]="['/covids']" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            COVID-19
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                      <li><a [routerLink]="['/lols']">Campeones LOL</a></li>
                  </ul>              
                </nav>
          </div>
      </div>
  </div>
</div>