<header id="header">
    <div class="container">
        <div class="wrap_1">
            <div class="row">
                <div class="grid_12">
                    <div class="brand put-left">
                        <div class="wrap">
                            <h1>
                                <a href="./"><i class="fas fa-gamepad"></i> Games <br> Zone</a>
                            </h1>
                        </div>
                    </div>

                    <form id="search" class="put-right" action="search/search.php" method="GET" accept-charset="utf-8">
                        <label class="input_wrap" for="search">
                            <input type="text" name="s" placeholder="Search:">
                        </label>
                        <a class="fa fa-search" onclick="document.getElementById('search').submit()"></a>
                    </form>
                    <div class="clearfix">   
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
