<section id="futbolistas" class="padded">
    <div class="container">
        <h2>Soccer Players</h2>
        <h3>Best Soccer Players</h3>
        <h3>Soccer Players P</h3>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name  </th>
                            <th>Posición</th>
                            <th>Country</th>
                            <th>Nacionality</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Jala datos de genios.components.ts -->
                        <tr *ngFor="let fut of personas" 
                        (click)="seleccionar(fut)"
                        [class.fila-seleccionada]="fut === futbolistaElegido"> 
                            <td>{{fut.id}}</td>
                            <td>{{fut.nombre}}</td>
                            <td>{{fut.posicion}}</td>
                            <td>{{fut.nacionalidad}}</td>
                            <td>{{fut.posicion}}</td>
                            <td>{{fut.edad}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4"*ngIf="futbolistaElegido">
                <img src={{futbolistaElegido.foto}} class="img-fluid" alt={{futbolistaElegido.nombre}}>
            </div>
        </div>
    </div>
</section>