<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="grid_3">
                <h2 class="text_6 color_4">Reviews</h2>
                <ul class="list_2">
                    <li><a href="#">Latest Reviews</a></li>
                    <li><a href="#">Nintendo</a></li>
                    <li><a href="#">PlayStation</a></li>
                    <li><a href="#">Xbox</a></li>
                    <li><a href="#">PC</a></li>
                </ul>
            </div>
            <!--
                ______________________________________________________________________________
                ______________________________________________________________________________
            -->
            <div class="grid_3">
                <h2 class="text_6 color_4">News</h2>
                <ul class="list_2">
                    <li><a href="#">Latest News</a></li>
                    <li><a href="#">Nintendo</a></li>
                    <li><a href="#">PlayStation</a></li>
                    <li><a href="#">Xbox</a></li>
                    <li><a href="#">PC</a></li>
                </ul>
            </div>
            <!--
                ______________________________________________________________________________
                ______________________________________________________________________________
            -->
            <div class="grid_3">
                <h2 class="text_6 color_4">Videos</h2>
                <ul class="list_2">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Gameplay</a></li>
                    <li><a href="#">Previews</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Trailers</a></li>
                </ul>
            </div>
            <!--
                ______________________________________________________________________________
                ______________________________________________________________________________
            -->
            <div class="grid_3">
                <h2 class="text_6 color_4">Follow us</h2>
                <ul class="social-list">
                    <li><a class="fa fa-facebook" href="#"></a></li>
                    <li><a class="fa fa-rss" href="#"></a></li>
                    <li><a class="fa fa-twitter" href="#"></a></li>
                    <li><a class="fa fa-google-plus" href="#"></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="grid_12">
                <div class="info">
                    <h2>
                        <a href="./"><span class="fa fa-gamepad"></span> Games <br> Zone</a>
                    </h2>
                    <p class="text_7">
                        © <span id="copyright-year">2021</span> | <a href="index-6.html">Privacy Policy</a> <!-- {%FOOTER_LINK} -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
