.nosea{
    font: 300 15px/20px 'Open Sans', sans-serif;
    color: rgb(189, 226, 72);
    font-size: 40px;
}
.nosea2{
    font: 300 15px/20px 'Open Sans', sans-serif;
    color: rgb(189, 226, 72);
    font-size: 25px;
}
#blackowo{
    background-color: black;
    color: white;
}